<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Market</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>

<div class="stock-container">
   <select id="stockSelect" onchange="stockChanged()">
       <option value="">Select a stock</option>
       <option value="AAPL">Apple (AAPL)</option>
       <option value="GOOGL">Google (GOOGL)</option>
       <option value="MSFT">Microsoft (MSFT)</option>
       <option value="TSLA">Tesla (TSLA)</option>
       <option value="AMZN">Amazon (AMZN)</option>
   </select>

    <div th:replace="market.html"></div>

    <!-- Timeframe Buttons -->
    <div class="timeframes">
        <button>1M</button>
        <button>3M</button>
        <button>6M</button>
        <button>1Y</button>
        <button>All</button>
    </div>

    <div class="actions">
        <button class="buy">Buy</button>
        <button class="sell">Sell</button>
    </div>

    <!-- Investment Info -->
    <div class="investment-info">
        <h3>Technical analysis indicators</h3>
        <ul>
            <li>50 day moving average</li>
            <li>200 day moving average</li>
            <li>MACD</li>
            <li>RSI</li>
            <li>OBV</li>
        </ul>
    </div>

    <div th:replace="news.html"></div>

</div>
</body>
</html>

<script>
    function stockChanged() {
        fetchMarket();
        fetchNews();
    }
</script>

