<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Market</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>

<div class="stock-container">
   <select id="stockSelect" onchange="fetchMarket()">
       <option value="">Select a stock</option>
       <option value="AAPL">Apple (AAPL)</option>
       <option value="GOOGL">Google (GOOGL)</option>
       <option value="MSFT">Microsoft (MSFT)</option>
       <option value="TSLA">Tesla (TSLA)</option>
       <option value="AMZN">Amazon (AMZN)</option>
   </select>

    <div th:replace="market.html"></div>

    <!-- Timeframe Buttons -->
    <div class="timeframes">
        <button>1M</button>
        <button>3M</button>
        <button>6M</button>
        <button>YTD</button>
        <button>1Y</button>
        <button>All</button>
    </div>

    <div class="actions">
        <button class="buy">Buy</button>
        <button class="sell">Sell</button>
    </div>

    <!-- Investment Info -->
    <div class="investment-info">
        <h3>Investeringu Info</h3>
        <ul>
            <li>Väärtus</li>
            <li>Päevane muutus</li>
            <li>Kasum</li>
            <li>Saldo / Positsioon</li>
            <li>Soetushind</li>
            <li>Soetushind/üha</li>
        </ul>
    </div>

    <!-- News Section -->
    <div class="news">
        <h3>News SSS</h3>
<!--        <p th:each="newsItem : ${news}" th:text="${newsItem}"></p>-->
    </div>
</div>

<script th:src="@{/script.js}"></script>
</body>
</html>

