<div class="row">
    <div class="col-md-12">
        <div class="card card-round">
            <div class="card-header">
                <div class="card-head-row">
                    <div class="card-title" id="stock-name"></div>
                    <div class="card-tools">
                        <a
                                href="#"
                                class="btn btn-label-success btn-round btn-sm me-2"
                        >
                          <span class="btn-label">
                            <i class="fa fa-pencil"></i>
                          </span>
                            Export
                        </a>
                        <a href="#" class="btn btn-label-info btn-round btn-sm">
                          <span class="btn-label">
                            <i class="fa fa-print"></i>
                          </span>
                            Print
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="chart-container" style="min-height: 375px">
                    <canvas id="statisticsChart"></canvas>
                </div>
                <div id="myChartLegend"></div>
            </div>
        </div>
    </div>
</div>

<script>
    function fetchMarket(selectedStock, stockName) {
        const marketData = document.getElementById('statisticsChart');
        document.getElementById('stock-name').innerText = stockName;

        marketData.innerHTML = '';
        if (!selectedStock) {
            return;
        }

        fetch(`/market/${selectedStock}`)
            .then(response => response.json())
            .then(data => {
                if (Object.keys(data).length === 0) {
                    marketData.innerHTML = '<div class="no-data">No market data available for this stock.</div>';
                    return;
                }
                createChart(marketData, data);
            })
            .catch(error => {
                console.error('Error:', error);
                marketData.innerHTML = '<div class="error">Error loading market data.</div>';
            });
    }

    function createChart(marketData, data) {
        const ctx = marketData.getContext('2d');
        const chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: Object.keys(data),
                datasets: [{
                    label: 'Stock Price',
                    data: Object.values(data),
                    borderColor: '#f3545d',
                    pointBackgroundColor: 'rgba(243, 84, 93, 0.6)',
                    pointRadius: 0,
                    backgroundColor: 'rgba(243, 84, 93, 0.4)',
                    fill: true,
                    borderWidth: 2
                }]
            },
            options : {
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                tooltips: {
                    bodySpacing: 4,
                    mode:"nearest",
                    intersect: 0,
                    position:"nearest",
                    xPadding:10,
                    yPadding:10,
                    caretPadding:10
                },
                layout:{
                    padding:{left:5,right:5,top:15,bottom:15}
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            fontStyle: "500",
                            beginAtZero: false,
                            maxTicksLimit: 5,
                            padding: 10
                        },
                        gridLines: {
                            drawTicks: false,
                            display: false
                        }
                    }],
                    xAxes: [{
                        gridLines: {
                            zeroLineColor: "transparent"
                        },
                        ticks: {
                            padding: 10,
                            fontStyle: "500"
                        }
                    }]
                }
        }});
    }
</script>
