<div class="row">
<!--    <div class="col-sm-6 col-md-3">-->
<!--        <div class="card card-stats card-round">-->
<!--            <div class="card-body" id="AMZN" onclick="stockChanged('AMZN')">-->
<!--                <div class="row align-items-center">-->
<!--                    <div class="col-icon">-->
<!--                        <div-->
<!--                                class="icon-big text-center icon-primary bubble-shadow-small"-->
<!--                        >-->
<!--                            <i class="fas fa-users"></i>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col col-stats ms-3 ms-sm-0">-->
<!--                        <div class="numbers">-->
<!--                            <p class="card-category">Amazon</p>-->
<!--                            <h4 class="card-title">$ 3.33 trillion</h4>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-round">
            <div class="card-body" id="AAPL" onclick="stockChanged('AAPL')">
                <div class="row align-items-center">
                    <div class="col-icon">
                        <div
                                class="icon-big text-center icon-primary bubble-shadow-small"
                        >
                            <i class="fas fa-users"></i>
                        </div>
                    </div>
                    <div class="col col-stats ms-3 ms-sm-0">
                        <div class="numbers">
                            <p class="card-category">Apple Inc</p>
                            <h4 class="card-title">$ 3.33 trillion</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-round">
            <div class="card-body" id="GOOGL" onclick="stockChanged('GOOGL')">
                <div class="row align-items-center">
                    <div class="col-icon">
                        <div
                                class="icon-big text-center icon-info bubble-shadow-small"
                        >
                            <i class="fas fa-user-check"></i>
                        </div>
                    </div>
                    <div class="col col-stats ms-3 ms-sm-0">
                        <div class="numbers">
                            <p class="card-category">Google</p>
                            <h4 class="card-title">$ 2.09 Trillion</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-round">
            <div class="card-body" id="MSFT" onclick="stockChanged('MSFT')">
                <div class="row align-items-center">
                    <div class="col-icon">
                        <div
                                class="icon-big text-center icon-success bubble-shadow-small"
                        >
                            <i class="fas fa-luggage-cart"></i>
                        </div>
                    </div>
                    <div class="col col-stats ms-3 ms-sm-0">
                        <div class="numbers">
                            <p class="card-category">Microsoft Corp</p>
                            <h4 class="card-title">$ 2.90 trillion</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-round">
            <div class="card-body" id="TSLA" onclick="stockChanged('TSLA')">
                <div class="row align-items-center">
                    <div class="col-icon">
                        <div
                                class="icon-big text-center icon-secondary bubble-shadow-small"
                        >
                            <i class="far fa-check-circle"></i>
                        </div>
                    </div>
                    <div class="col col-stats ms-3 ms-sm-0">
                        <div class="numbers">
                            <p class="card-category">Tesla Inc</p>
                            <h4 class="card-title">$ 852.49 billion</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function stockChanged(currentStock) {
        var selectedCard = document.getElementById(currentStock);
        var stockName = selectedCard.querySelector('.card-category').textContent;

        fetchMarket(currentStock, stockName);
        fetchNews(currentStock, stockName);
        document.querySelectorAll('.card-body').forEach(card => card.classList.remove('selected'));
        document.getElementById(currentStock).classList.add('selected')
    }

    stockChanged('AAPL');
</script>

<style>
    .card-body.selected {
        transform: scale(1.1); /* increase size by 10% */
        box-shadow: 0 0 10px #8898aa; /* add a subtle shadow */
        border: 2px solid #007bff; /* add a blue border */
        /*background-color: #8898aa;*/
    }
</style>
